{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h2>The Page you are looking for does not exist.</h2>
    <a href="{{ url_for('index') }}"><img src="https://img.freepik.com/free-vector/funny-error-404-background-design_1167-219.jpg?w=826&t=st=1661980286~exp=1661980886~hmac=b59dbb8704904680f1830e7d6e7e25c70e779c6123cee5094cff0d3162c7588d"</a>
    <p><a href="https://www.freepik.com/free-vector/funny-error-404-background-design_1161579.htm#query=404%20not%20found&position=21&from_view=keyword">Image by bamdewanto</a> on Freepik</p>
</section>
{% endblock %}